@use "../abstracts" as *;

.navbar {
  position: relative;
  &__mobile {
    &__btn {
      display: none;
    }
  }
  @media (max-width: 46em) {
    &__list {
      display: none;
    }
    &__mobile {
      &__btn {
        min-width: 15rem;
        display: block;
        font-size: 2.4rem;
        @include hover-pointer;
      }
    }
  }
  @media (max-width: 37em) {
    &__mobile {
      &__btn {
        min-width: 10rem;
      }
    }
  }
  @media (max-width: 26em) {
    &__mobile {
      &__btn {
        font-size: 2rem;
      }
    }
  }
  @media (max-width: 21em) {
    &__mobile {
      &__btn {
        min-width: 8rem;
      }
    }
  }
}

.mobile-modal {
  z-index: 15;
  padding: 2.4rem 2rem;
  background-color: $color-secondary;
  height: 100%;
  width: 35rem;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__close {
    margin-bottom: 1.4rem;
  }

  &__heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-family: $font-family--headings;
    font-weight: bold;
    border: none;
    background-color: transparent;

    @include hover-pointer;
    svg {
      font-size: 2.8rem;
    }
  }

  &__shop {
    font-size: 1.8rem;
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: $color-text--grey;
      font-family: $font-family--headings;
      font-weight: 400;
      margin-left: 2rem;
    }
  }
}
