@use "../abstracts" as *;

.backdrop {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.cart-modal {
  z-index: 15;
  padding: 2.4rem 4rem;
  background-color: #fff;
  height: 100%;
  width: 50rem;
  float: right;

  display: flex;
  flex-direction: column;
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    svg {
      font-size: 2.4rem;
      color: $color-secondary--dark;
    }
  }
  &__products-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    overflow-y: auto;
  }

  &__product {
    width: 100%;
    display: flex;

    &__img {
      width: 30%;
      img {
        width: 100%;
        border-radius: 1.2rem;
        height: unset;
      }
    }

    &__details {
      width: 100%;
      padding: 0 1.2rem;
      font-family: $font-family--headings;
      font-size: 1.6rem;

      &__heading {
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
      }

      &__variation {
        display: inline-block;
        text-transform: uppercase;
        font-family: $font-family;
        font-size: 1.2rem;
        color: $color-text--lightgrey;
      }

      &__quantity {
        display: flex;
        align-items: center;
        gap: 2.4rem;
        font-size: 2rem;
        color: $color-text--lightgrey;

        span {
          display: inline-block;
          font-size: 1.6rem;
          font-family: $font-family;
          color: $color-text--primary;
        }
        svg {
          cursor: pointer;
        }
      }
    }
  }
  &__price {
    margin-top: auto;
    border-top: 1px solid $color-secondary;
    font-size: 1.8rem;
    font-family: $font-family--headings;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;

    &__shipping {
      margin-top: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      margin-bottom: 1.6rem;
    }
  }
  &__actions {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    button {
      font-size: 1.8rem;
      font-family: $font-family--headings;
    }
  }

  &__empty {
    font-size: 1.6rem;
    font-family: $font-family--headings;
    font-weight: bold;
    text-align: center;
    margin-top: auto;

    button {
      font-size: 1.8rem;
      font-family: $font-family--headings;
      margin-top: 3.2rem;
      width: 100%;
    }
  }
  @media (max-width: 57em) {
    width: 45rem;
  }
  @media (max-width: 37em) {
    width: 38rem;
  }
  @media (max-width: 26em) {
    width: 100%;
  }
}
