@use "../abstracts" as *;

.navbar {
  position: relative;
  height: 7.5rem;
  padding-top: 2.5rem;
  border-bottom: 1px solid #dee2e6;

  // Main font style
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;

  letter-spacing: 1px;

  &__container {
    // CHECK FOR CONTAINER REUSABLITY
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // MAIN NAVIGATION LIST

  &__list {
    display: flex;
    gap: 2.4rem;
    min-width: 15rem;
  }

  &__item {
    // animate hovering from mixin
    @include hover-bottom($color-text--grey, $speed-heading);
  }

  // LOGO AND CART

  &__brand {
    width: 100%;
    &__logo {
      width: fit-content;
      margin: auto;
      font-size: 1.8rem;
      font-family: $font-family--headings;
      font-weight: 700;

      letter-spacing: 1.5px;
      color: $color-primary--dark;

      // Center logo
      @include hover-pointer;
    }
  }

  &__cart {
    display: flex;
    gap: 6px;
    min-width: 15rem;
    text-align: center;
    @include hover-pointer;
  }

  &__cart__quantity {
    right: 3rem;
    bottom: 1rem;
  }

  @media (max-width: 57em) {
    &__cart {
      justify-content: center;
    }
  }
  @media (max-width: 46em) {
    &__list {
      display: none;
    }
  }
  @media (max-width: 37em) {
    &__brand {
      &__logo {
        font-size: 1.6rem;
        letter-spacing: 0.1;
      }
    }

    &__cart {
      min-width: 10rem;
      gap: 4px;
      justify-content: end;
    }
  }
  @media (max-width: 26em) {
    &__brand {
      &__logo {
        font-size: 1.4rem;
        letter-spacing: 1px;
      }
    }
    &__cart {
      min-width: 10rem;
      font-size: 1.2rem;
      gap: 2px;
    }
  }
  @media (max-width: 21em) {
    &__brand {
      &__logo {
        font-size: 1.4rem;
        letter-spacing: 1px;
      }
    }
    &__cart {
      min-width: 8rem;
      font-size: 1.1rem;
      gap: 1px;
    }
  }
}
