@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin animate-fade-in {
  @include keyframes(fade-in) {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @include animate(fade-in, 0.2s, ease-in, 1);
}

@mixin animate-translate-x {
  @include keyframes(translate-x) {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @include animate(translate-x, 0.2s, ease-in, 1);
}
