@use "./variables" as *;

@mixin hover-bottom($color, $speed) {
  width: fit-content;
  &:hover {
    cursor: pointer;
  }
  &:after {
    content: "";
    display: block;

    margin: auto;
    height: 1px;
    width: 0px;
    transition: all $speed ease;
  }
  &:hover:after {
    width: 100%;
    background-color: $color;
  }
}

@mixin hover-pointer() {
  &:hover {
    cursor: pointer;
  }
}

@mixin container-max-width() {
  max-width: $max-width--wide;
  padding: 0 5rem;
  margin: 0 auto;

  @media (max-width: 50em) {
    padding: 0 3rem;
  }
}
