// - FONT SIZES (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

//- SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

// - FONT FAMILY
$font-family: "Roboto", sans-serif;
$font-family--headings: "Merriweather", serif;

// - COLORS
$color-primary: #729e7b;
$color-primary--dark: #628869;
// $color-secondary: #c9bfa6;
$color-secondary: #c8bea4;
$color-secondary--dark: #b0a792;
$color-banner: #f1e8e4;
$color-banner--grey: #f8f9fa;

$color-text--primary: #212529;
$color-text--grey: #343a40;
$color-text--lightgrey: #787f89;

// - RESPONSIVE WIDTH

$max-width--wide: 180rem;

// Transition speeds
$speed-heading: 0.4s;
$speed-text: 0.25s;
