// - FONT SIZES (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

//- SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

// - FONT FAMILY
$font-family: "Roboto", sans-serif;
$font-family--headings: "Merriweather", serif;

// - COLORS
$color-primary: #087f5b;
$color-primary--dark: #085f45;
$color-text--black: #000;
$color-text--grey: #343a40;

// Transition speeds

$speed-normal: 0.4s;
