@use "../abstracts" as *;

.hero {
  background-color: $color-banner;
  background-image: linear-gradient(to left top, #ffffff2f, #ffffff31),
    url("https://images.unsplash.com/photo-1583753075968-1236ccb83c66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2708&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  height: 80rem;
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
  }
  h1 {
    color: #ffffff;
    span {
      font-style: italic;
      color: #000000;
    }
  }

  &__text {
    padding: 5rem 12rem;

    border-radius: 2rem;
    width: 80%;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin: auto 0;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    width: 100%;
    a {
      width: 50%;
    }
  }

  @media (max-width: 57em) {
    &__text {
      padding: 5rem 8rem;
      width: 90%;
    }
  }
  @media (max-width: 37em) {
    h1 {
      font-size: 3.6rem;
    }
    &__text {
      padding: 4rem;
      width: 100%;
    }
  }
  @media (max-width: 26em) {
    h1 {
      font-size: 3.2rem;
    }
    &__text {
      text-align: center;
      padding: 3rem 2rem;
      font-size: 1.4rem;
    }
  }
}

.features {
  padding: 5rem 0;
  background-color: #f0fbff;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10rem;
  }

  &__item {
    width: 25rem;
    font-size: 3rem;
    font-weight: 400;
    color: $color-text--lightgrey;
    p {
      color: $color-text--lightgrey;
      margin-top: 1rem;
      font-size: 1.4rem;
    }
  }

  @media (max-width: 57em) {
    &__list {
      gap: 6rem;
    }

    &__item {
      p {
        font-size: 1.5rem;
      }
    }
  }
  @media (max-width: 50em) {
    &__list {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 26em) {
    padding: 3rem 0;
    &__list {
      gap: 4rem;
    }
  }
}

.featured {
  margin: 10rem 0;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__carousel {
    // display: flex;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30rem;

    gap: 4rem;
    margin-top: 3rem;
    padding-bottom: 1.2rem;
    overflow-x: auto;
  }
}

.business {
  margin-top: 10rem;

  &__container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-gap: 1.2rem;
  }
  &__img {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &--1 {
      grid-column: 1;
      grid-row: 1/-1;
    }
    &--2 {
      grid-column: 2;
      grid-row: 1;
      overflow: hidden;
    }
    &--3 {
      grid-column: 2;
      grid-row: 2;
    }
  }
  &__main {
    grid-column: 3/ -1;
    grid-row: 1/-1;
    background-color: rgb(235, 235, 235);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      font-size: 2.4rem;
    }
    &__text {
      font-size: 1.6rem;
      margin-top: 1.2rem;
      margin-bottom: 2rem;
    }

    a {
      width: 100%;
    }
    &__img {
      margin-top: 5rem;
      width: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  @media (max-width: 67em) {
    &__container {
      display: grid;
      grid-template-columns: 35% 1fr;
      grid-template-rows: repeat(2, min-content);
    }

    &__main {
      grid-row: 1;
      grid-column: 2;
      width: 100%;
      padding: 4rem;
    }

    &__img {
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      &--1 {
        grid-column: 1;
        grid-row: 1;
      }
      &--2 {
        grid-column: 1;
        grid-row: 2;
      }
      &--3 {
        grid-column: 2;
        grid-row: 2;
      }
    }
  }
  @media (max-width: 57em) {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
    &__main {
      grid-row: 1;
      grid-column: 1/-1;
      width: 100%;
      padding: 6rem;
      font-size: 1rem;
      &__title {
        font-size: 2.2rem;
      }
      &__text {
        font-size: 1.6rem;
      }
    }
    &__img {
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      &--1 {
        grid-column: 1;
        grid-row: 2/ -1;
      }
      &--2 {
        grid-column: 2;
        grid-row: 2;
      }
      &--3 {
        grid-column: 3;
      }
    }
  }
  @media (max-width: 37em) {
    &__container {
      padding: 2rem;
    }
    &__main {
      width: 100%;
      padding: 3rem;

      &__title {
        font-size: 2rem;
      }
      &__text {
        font-size: 1.4rem;
      }
    }
  }

  @media (max-width: 26em) {
    &__main {
      width: 100%;
      padding: 3rem 2rem;

      &__title {
        font-size: 2rem;
      }
      &__text {
        font-size: 1.4rem;
      }
    }
  }
}

.testimonial {
  margin-top: 10rem;
  &__list {
    display: flex;
    justify-content: center;
    gap: 8rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40rem;

    &__rating {
      display: flex;
      gap: 0.8rem;
      font-size: 2.2rem;
      color: $color-secondary;
    }

    &__comment {
      line-height: 1.8;
      margin-top: 1rem;
      font-size: 1.8rem;
    }

    &__author {
      font-family: $font-family--headings;
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 0.8rem;
    }
  }

  @media (max-width: 79em) {
    &__item {
      &__comment {
        font-size: 1.6rem;
      }
      &__author {
        font-size: 1.4rem;
      }
    }
  }

  @media (max-width: 57em) {
    &__list {
      flex-direction: column;
      align-items: center;
      gap: 6rem;
    }
    &__item {
      width: 40rem;
      &__comment {
        font-size: 1.8rem;
      }
      &__author {
        font-size: 1.6rem;
      }
    }
  }
  @media (max-width: 37em) {
    &__item {
      width: 35rem;
      &__comment {
        font-size: 1.6rem;
      }
      &__author {
        font-size: 1.4rem;
      }
    }
  }
}
