@use "../abstracts" as *;

.shop {
  padding-top: 5rem;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 46rem) {
      text-align: left;
      flex-direction: column;

      align-items: start;
    }
  }
  &__sort-mobile {
    @media (max-width: 46rem) {
      margin-top: 1.6rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }
  &__sort {
    position: relative;
    width: 23rem;
    margin-left: auto;
    &__btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      padding: 1.2rem 1.2rem;
      background-color: #fff;
      color: $color-text--grey;
      font-size: 1.4rem;
      width: 100%;
      cursor: pointer;
      &--active {
        border: 1px solid $color-secondary;
      }
    }
    &__dropdown {
      position: absolute;
      border: 1px solid $color-secondary;
      border-top: none;
      width: 100%;

      &--item {
        border: none;

        &:hover {
          background-color: $color-secondary;
        }
      }
    }

    @media (max-width: 46em) {
      width: 100%;
    }
  }
  &__main {
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }
  &__sidebar {
    height: 50rem;
    width: 25%;
    border-top: 1px solid $color-secondary;
    padding-top: 1.2rem;

    h3 {
      margin-bottom: 1.2rem;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 1.4rem;
      margin-bottom: 1.4rem;
      font-size: 1.8rem;
      color: $color-text--grey;

      input {
        cursor: pointer;
      }

      &:last-child {
        margin-bottom: 2.8rem;
      }
    }

    @media (max-width: 57rem) {
      h3 {
        font-size: 1.8rem;
      }
      &__item {
        font-size: 1.6rem;
      }
    }

    @media (max-width: 46rem) {
      display: none;
    }
  }

  &__mobile-filter {
    display: none;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 1px;
    @media (max-width: 46rem) {
      display: block;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 3rem;
    width: 100%;
  }

  @media (max-width: 31em) {
    &__products {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
